<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoConnection" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseName" value="WindowsServiceApp"/>
    
    <add key="SubscriberEmail" value="8xc7e@veanlo.com" />

    <add key="Server" value="in-v3.mailjet.com" />
    <add key="Port" value="465" />
    <add key="SSL" value="true" />
    <add key="Login" value="77d887658bc8be6a13f9ad6b60c4c50d" />
    <add key="Password" value="e3c0f578a6944dfe484340a8f610f71e" />
    <add key="FromTitle" value="Log Sender" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>